COMPOSE_PROJECT_NAME=acacia-scalable-world-template
WORLD_DIRECTORY=world
WORLD_KIND=channel
REALM_ID=realm-1
CHANNEL_ID=1
REGION=local
VERSION=0.1.0
PUBLIC_GAME_PORT=9101
PUBLIC_API_PORT=9102
NAME='Shinobi Farm - Realm 1 Channel 1'
HOST='0.0.0.0'
PORT=9101
SSL=false
API_ENABLED=true
API_PORT=9102
SERVER_ID=101
ACCESS_TOKEN='local-hub-token'
HUB_ENABLED=true
HUB_HOST='hub'
HUB_WS_HOST='hub'
HUB_PORT=9526
HUB_WS_PORT=9527
HUB_ACCESS_TOKEN='local-hub-token'
ADMIN_HOST='hub'
ADMIN_PORT=9528
REMOTE_SERVER_HOST='localhost'
REMOTE_API_HOST='localhost'
CLIENT_REMOTE_HOST='localhost'
CLIENT_REMOTE_PORT=81
CLEANUP_THRESHOLD=120000
CLEANUP_TIME=30000
SKIP_DATABASE=false
DATABASE='mongodb'
MONGODB_HOST='mongo-local'
MONGODB_PORT=27017
MONGODB_USER='sorameshi'
MONGODB_PASSWORD='lotus10'
MONGODB_DATABASE='acacia-game'
MONGODB_TLS=false
MONGODB_SRV=false
MONGODB_AUTH_SOURCE='admin'
AGGREGATE_THRESHOLD=60000
TUTORIAL_ENABLED=true
OVERWRITE_AUTH=false
DISABLE_REGISTER=false
MAX_PLAYERS=200
UPDATE_TIME=300
GVER='0.1.0'
MINOR=''
REGION_CACHE=true
SAVE_INTERVAL=60000
MESSAGE_LIMIT=300
SMTP_HOST='smtp.gmail.com'
SMTP_PORT=465
SMTP_USE_SECURE=true
SMTP_USER=''
SMTP_PASSWORD=''
SENTRY_ORG=''
SENTRY_PROJECT=''
SENTRY_AUTH_TOKEN=''
SENTRY_DSN=''
STRIPE_ENDPOINT=''
STRIPE_KEY_LOCAL=''
STRIPE_SECRET_KEY=''
DISCORD_ENABLED=false
DISCORD_CHANNEL_ID=``
DISCORD_BOT_TOKEN=''
ACCEPT_LICENSE=true
DEBUGGING=false
DEBUG_LEVEL='all'
FS_DEBUGGING=false
NGINX=false
